body {
    margin: 0%;
    padding: 0%;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
#Nav {
background-color:white;
color: white;
list-style: none;
text-align: right;
padding: 20px 0 0px 0;
text-transform: uppercase;
}
#Nav li  {
    display: inline-block;
    padding-right: 100px;
    font-size: 12px;
    
}
#Nav li >a {
    text-decoration:none ;
    color: black;
    font-weight: 400;
    position: relative;

}
#Nav li >a:hover{
    color: #c1c1c1;

}
#Nav li >a::before {
    content: '';
    display: block;
    height: 5px;
    width: 0%;
    background-color: black;
    position: absolute;
    top: -10px;
    transition: all ease-in-out 250ms
}
#Nav li >a:hover::before{
    width: 100%;
}
#logo{
    color:black;
    float: left;
    font-size: 16px;
    font-weight: bold;
    vertical-align: top;
    text-align: left
    
}
#logo >a {
text-decoration: none;
color:white;
position: absolute;
top: 38px;
left: 16px;
font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
#banner{
    width: 100%;
    display: block;
}
#banner img {
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    top: 60px;
    filter: brightness(50%);
    z-index:-1
    
    
}

#Cog  {
    width: 50px;
    display: block;
}
#Cog img {
height: 60px;
width: 60px;
z-index: +1;
top: 0px;
position: absolute;

}

h2 {
    background-color: #ff0808;
    color: #ffffff;
  }
  #PrettyWords{
    color: cornflowerblue;
}
#ImageContainer{
    width: 300px;
    height: 300px;
    position: relative;
}
#imageID1{
    width: 100%;
    height: 100%;
}

#Pageheader{
    text-align: end;
}

#TableContainer{
    margin-top: 60px;
    margin-left: 500px;
}

#ListContainer1{
margin-left: 1000px;
}
    
#Tableofinfo{
    font-family: fantasy;
    background-color: lightgray;
    background-repeat: no-repeat;
    width: 20%;
    background-size: 300px 100px;
    text-align: center;
    filter: opacity(40%);
    margin-left: 25%;
    margin-top: -25%;
    
    
}

#Grid{
    text-align: center;
    font-size: 40px;
    font-family: monospace;
    background-color: lightgrey;
    filter: opacity(40%);
    width: 70%;
    background-size: 0% 0 200% 0;
    margin-left: 15%;
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;

}

