<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Navbar</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="../css/main.css">
</head>
<body>
    <ul id="Nav">
        <div id="fullscreen-size-nav-items">
            <li> <a href="../index.html">Home</a> </li>
            <li> <a href="Spots.html">Spots</a> </li>
            <li> <a href="Gallary.html">Gallery</a> </li>
            <li> <a href="About.html">About</a> </li>
            <li> <a href="Contact.html">Contact</a> </li>
        </div> 
        <div id="mobile-size-nav-items">
            <li> <a href="" id="hamburger-icon"></a></li>
        </div>
    </ul>
    <div id="logo">
        <a href="#">Cornwall MTB</a>
    </div>
    <div id="Cog">
        <img alt="Cog img" src="../Images/cog.jpg"><a href="Index.html"></a> <!--TRY AND MAKE THIS INTO A GUI-->
    </div>
    
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script>
        $( document ).ready(function() {
            var screenWidth = $( window ).width();
            if(screenWidth <= 850){
                $('#hamburger-icon')
                    .append("<img src=\"../Images/hamburger_icon.png\" style=\"height: 60px; width: 60px;\" />");
                //hide nav items in div id = Nav
                $("#fullscreen-size-nav-items").children().hide();
            }            
        });
    </script>
</body>
</html>